# deps
node_modules/

# next
.next/
out/
build/

# env
.env
.env.local
.env*.local

# local disk cache (see src/lib/cache.ts)
.cache/

# misc
.DS_Store
*.log
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
